<div class="container-fluid" id="editarTeam">
	<h1 class="text-center">Editando <%= @team.name %> ...</h1>
	
	<%= render 'form', team: @team %></div>

<div class="text-right" id="link">
	<%= link_to @team.name, @team ,class:"btn btn-link btn-lg" %> 
	<br>
	<%= link_to 'Eliminar equipo', @team, method: :delete, data: { confirm: '¿Esta seguro de eliminar '+ @team.name + ' ?' } ,class:"btn btn-link btn-lg"%>
		
	</div>