<div class="container-fluid" id="newTeam">
	<h1 class="text-center" id="">Crea un nuevo equipo</h1>
	
	<%= render 'form', team: @team %>
</div>
<div class="text-right" id="link">
	<%= link_to current_user.email, users_home_path, class: "btn btn-link btn-lg" %>
		
</div>
