<h1>Editing Student Create Group</h1>

<%= render 'form', student_create_group: @student_create_group %>

<%= link_to 'Show', @student_create_group %> |
<%= link_to 'Back', student_create_groups_path %>
