
<div class="container">
	<h1 class="text-center text-success">Editar Grupos </h1>
	
	<%= render 'form', student_create_group: @student_create_group %>
	
	<div class="">
		<%= link_to 'Ver grupos', @student_create_group, class: 'btn btn-link' %> |
		<%= link_to 'Retroceder', student_create_groups_path, class: 'btn btn-link' %>
			
		</div>
</div>