<div class="container">
	<br>
	<h1 class="text-center text-success">Crear un nuevo grupo</h1>
	<br>
	<br>
	
	<%= render 'form', student_create_group: @student_create_group %>
	
	<%= link_to 'Regresar', student_create_groups_path, class: 'btn btn-link' %>
</div>