<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Virtual Classroom UN.</h1>
    <p>
    Has creado el grupo libre <%= @team.name %>,
		con un máximo de <%= @team.max_member %> integrantes.<br>
		Descripcion: <%= @team.description %>
    </p>
 </p>
  </body>
</html>