<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Virtual Classroom UN.</h1>
    <p>
      Has creado el grupo <%= @group.nombre %>,
		con un máximo de <%= @group.maxIntegrantes %> integrantes.<br>
		Descripcion: <%= @group.descripcion %>
    </p>
 </p>
  </body>
</html>