<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Virtual Classroom UN.</h1>
    <p>
      Te has inscrito exitosamente. Tu nombre de usuario es: <%= @user.email %>.<br>
    </p>
 </p>
    <p>¡Gracias por inscribirte!</p>
  </body>
</html>