<p id="notice"><%= notice %></p>

<p>
  <strong>Rol:</strong>
  <%= @team_inscription.rol %>
</p>

<%= link_to 'Edit', edit_team_inscription_path(@team_inscription) %> |
<%= link_to 'Back', team_inscriptions_path %>
