<p id="notice"><%= notice %></p>

<p>
  <strong>Rol:</strong>
  <%= @group_inscription.rol %>
</p>

<%= link_to 'Edit', edit_group_inscription_path(@group_inscription) %> |
<%= link_to 'Back', group_inscriptions_path %>
