<p>¡Hola, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te notificamos que tu correo electrónico está siendo cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te notificamos que tu correo electrónico está siendo cambiado a <%= @resource.email %>.</p>
<% end %>
